[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
docker = "*"
requests = "*"
urllib3 = "*"
pyyaml = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
